<!DOCTYPE html>
<div id="ironFoods">
    <h4>
        List of Foods:
    </h4>
    <form action="/action_page.php">
      <label for="">Search:  </label>
      <input class="inputS" type="search" name="" (keyup)="recordAllTheKeyStrokes($event)">
      <label class="key" for="">    {{key}}</label>
      <br/>
      <button type="submit">Search</button>
    </form>
    <ul>
      <li *ngFor="let i of foods">
        <span>{{i.name}}</span>
        <span>Calories: {{i.calories}}</span><br/>
        <label for="">Quantity:</label><input type="number" value="{{i.quantity}}" />  <!--[(ngModule)]="i.quantity" -->
        <img [src]="i.image" alt="{{i.name}}">
        

      </li>
    </ul>
</div>


<!-- /*
const foods: Object[] = [
  {
    name: `Pizza`,
    calories: 400,
    image: `https://i.imgur.com/eTmWoAN.png`,
    quantity: 0
  },
*/ -->


